.couponInfoHeading{
    align-items: left;
}

.completeCouponInfo{
    background-color:white;
}
.completeCouponInfoBoxes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: left;
    

}
.couponInfoBoxes{
    display: flex;
    flex-direction: column;
}