.BannerMain{
    margin: 30px;
}
.flexrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flexCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: grey; */
}
.MainBannerBox{
    display: flex;
    flex-direction: row;
}
.BannerBox{
    width: 100%;
    height: 87vh;
    overflow-y: scroll;
    margin-top: 1%;
    background-color: white;   
}
.BannerCArdBox{
    height: 40vh;
    overflow-y: scroll;
    /* padding-bottom: 2%; */
}
.RemoveButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    color: gray;
    font-size: 0.9rem;
}
.PreviewBox{
    width: 38%;
    height: 84vh;
    overflow-y: scroll;
    margin-top: 1%;
    background-color: white;  
    padding: 1%; 
    color: grey;
}
.ViewPreviousBox{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 1%;
    cursor: pointer;
}
.PreviosCardBannerBox{
    border-bottom: 2px solid rgba(214, 214, 214, 0.922);
    padding: 20px;
    padding-bottom: 2%;
}
.MobilePreviewBox{
    border: 2px solid #eee;
    margin-top: 2%;
    border-radius: 10px;
    /* padding: 2%; */
}
.mobilepreviewbannerbox{
    padding: 3%;
    padding-bottom: 6%;
}
.MobilePreviewHeading{
    border-bottom: 2px solid #eee;
    padding: 3%;
}
.UploadBtton{
    margin: 20px;
    border: 2px solid #eee;
    padding: 2%;
}
.UploadBtton button{
    border: dotted 1px  !important;
    width: 100%;
    padding: 2% 1%;
}
.UploadBttons button{
    margin-top: 2%;
    border: dotted 1px  !important;
    width: 100%;
    padding: 2% 1%;
}
.BannerMainBox{
    display: grid;
    grid-template-columns: 1fr;
}
.HeadText h2{
    margin-left: 20px;
}
.HeadText{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 0px;
    border-bottom: solid 2px grey;
}
.Deletebtn{
    color: red !important;
    text-transform: none !important;
}
.Deleteicon{
    width: 20% !important;
    margin-right: 10% !important;
}
.BannerHead{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.BannerImage{
    border-radius: 10px !important;
}
.InsideBannerBox{
    margin: 20px;
    border: 2px solid #eee ;
}
.InsideMainBox{
    margin: 20px;
}
.iconBox{
    border-top: 2px solid #eee;
    padding: 3%;
    justify-content: space-around;
}
.emptycircle{
    padding: 30% 50%;
}
.emptyrec{
    padding: 0 50%;
}
.BorderBottom{
    border: 2px solid #eee;
    text-align: center;
    align-items: center;
}
.BorderBottom p{
    margin-left: 10px;
    color: grey;
    font-size: 0.8rem;
    font-weight: 600;
}
.changeBtn{
    text-transform: none !important;
}
.previewBtn {
    text-transform: none !important;
}
.fontSize1{
    color: grey;
    font-size: 1rem;
}


.container {
    position: relative;
    width: 30%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    background-color: black;
    opacity: 0.5;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  .text:hover {
    cursor: pointer;
  }
  .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 30px;
    border: white;
    text-align: center;
  }
  .PencilIcon{

    width: 20% !important;
    margin-right: 6px;
  }
