.contentDisplay{
  display: flex;
  flex-direction: row;
  /* background-color: RED; */
  width:94%;
  
}
.contentleftBox{
  width:70%;
  /* border: 2px solid #eee; */
  padding: 1%;
  height: 50%;
}
.contentRightBox{
  margin:2%;
  width:30%;
   border: 2px solid #eee;
   border-radius: 3% !important;
}
.contentInnerLeftBox{
  /* height: 40vh; */
  padding: 4%;
}
.contentInnerLeftBox:hover{
 background-color: #eee;
}
.folderIconContent{
  font-size: 5em !important;
  color: #0075FF !important;
}
.folderIconContentTwo{
  font-size: 3.5em !important;
  color: #0075FF !important;
  margin-top: 2%;
}
.firstTree{
  display: flex;
  flex-direction: row;
}
.innerTree{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 2%;
}
.innerHeading{
  margin-left: 3%;
  margin-top: 2%;
}
.innerHeadingOne{
  font-size: 1.2em !important;
}

.innerHeadingTwo{
  color: #c9c2c2;
}
.videoText{
  color: #a19e9e !important;
  font-size: 0.8em !important;
  margin-top: 1.5% !important;
}
.contentButton{
  text-transform: none !important;
  margin-top: 3%;
  font-size: 1.1em !important;
}
.contentRightHeading{
  margin-left: 10% !important;
  margin-top: 6% !important;
  font-size: 1.6em !important;
  font-weight: 550 !important;
}

 /* RIGHTBOX CSS  */



 .rightBoxComplete{
  padding: 26px 26px;
 }
 .rightBoxTypography{
  color: #8e8383;
  font-size: large !important;
  /* font-weight: 18%; */
  padding: 10px 10px;
 }
 .folderIconRightBox{
  color: #0075FF !important;
  margin-right: 7%;
  margin-bottom: -2%;
 }