.radioButtonForm{
  margin-top: 3%;
  width:100%;
}
.scndRadioBtn{
  margin-left:  30%;
  
}
.radio-icon{
  color:rgb(132, 189, 246);
}
.couponHedaerBox{
  display: flex !important;
  flex-direction: row !important;
  width:100%;
  padding-bottom: 1%;
  border-bottom: 3px solid #b5abab !important;
  /* background-color: red; */

}
.couponButton{
  width:200px !important;
  background-color:#0f7af5 !important;
  text-transform: none !important;
  margin-left: 12%;
}
.couponHeaderButton{
  margin-left: 72%;
  margin-top: 2% !important;
}
.couponHeaderText{
  margin-top: 4% !important;
  color: #998e8e  !important;
  font-size: 0.9em !important;
  font-weight: 550 !important;
}
.couponLeftBox{
  width:30%;
  display: block;
  margin: auto;
  padding: 2%;
  text-align: center;
}
.width60{
  width: 100%;
}
.flexcol{
  display: flex;
  flex-direction: column;
}
.flexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.UsedText{
  color: #0f7af5;
  margin-left: 5%;
}
.ShowHideBtn{
  font-size: 0.7rem !important;
  /* border: solid black 2px !important; */
  width: 100% !important;
  color: #0f7af5;

}
.couponRightBox{
  width:88%;
  margin-left: 2%;
  /* background-color: red; */
  color: #998e8e;
  font-size: 1.15em !important;
}
.mt-2{
  margin-top: -2%;
}
.couponLastBox{
 /* width:13%; */
 justify-content: center;
 align-items: center;
 display: flex;
 /* margin: auto; */
 color: #998e8e;
 margin-top: -5% !important;
}
.DiscountBox{
  margin-left: 2%;
  width: 88%;
}
.verticalDivider{
  background-color: #beb4b4;
  width: 3px;
  height:150px;
}
.courseMainCoupon{
  display: flex !important;
  flex-direction: column !important;
  background-color: #fff !important;
  border-radius: 15px;
  width:100% !important;
  margin-top: 2%;

}
  .formMainCoupon{
  padding: 1%;
  width:100%;
}
.yellowBox{
  background-color: rgb(246, 241, 231);
  height: 26px;
  width: 80%;
  border: 2px dashed rgb(251, 207, 103);
  align-items: center;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}
