
.radioButtonForm{
  margin-top: 3%;
  width:100%;
}
.scndRadioBtn{
  margin-left:  30%;
  }
.radio-icon{
  color:rgb(132, 189, 246);
}
.couponHedaerBox{
  display: flex !important;
  flex-direction: row !important;
  width:98%;
  padding-bottom: 1%;
  border-bottom: 3px solid #b5abab !important;
}
.couponButton{
  width:200px !important;
  background-color:#0f7af5 !important;
  text-transform: none !important;
  margin-left: 12%;
}
.couponHeaderButton{
  margin-left: 72%;
  margin-top: 2% !important;
}
.couponHeaderText{
  margin-top: 4% !important;
  color: #998e8e  !important;
  font-size: 0.9em !important;
  font-weight: 550 !important;
}
.couponLeftBox{
  width:30%;
  display: block;
  margin: auto;
  padding: 2%;
  text-align: center;
}
.width60{
  width: 100%;
}
.flexcol{
  display: flex;
  flex-direction: column;
}
.flexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -4px;
}
.UsedText{
  color: #0f7af5;
  margin-left: 5%;
}
.ShowHideBtn{
  font-size: 0.7rem !important;
  width: 100% !important;
  color: #0f7af5;
}
.couponRightBox{
  width:85%;
  margin-left: 2%;
  color: #998e8e;
  font-size: 1.15em !important;
}
.mt-2{
  margin-top: -2%;
}
.couponLastBox{
  margin-right: 1% !important;
 justify-content: center;
 align-items: center;
 display: flex;
 color: #998e8e;
 margin-top: -2% !important;
}
.DiscountBox{
  margin-top: 2%;
  margin-left: 2%;
  width: 88%;
}
.verticalDividerOne{
  background-color: rgb(224 223 223);
  width: 3px;
  height:150px;
}
.verticalDividerTwo{
  background-color: rgb(224 223 223);
  width: 2px;
  height: 17px;
  margin-left: 4%;
}
.circleIcon{
  color: rgb(224 223 223) !important;
  margin-left: 27px !important;
  font-size:xx-small !important;
}
.jcsb{
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.courseMainCoupon{
  display: flex !important;
  flex-direction: column !important;
  background-color: #fff !important;
  width:98% !important;
  margin-top: 2%;
}
.formMainCoupon{
  padding: 3px;
  width:100%;
}
.yellowBox{
  background-color: rgb(246, 241, 231);
  height: 26px;
  width: 80%;
  border: 2px dashed rgb(251, 207, 103);
  align-items: center;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}
.showDetailsButton{
  border: none;
  background-color: #fff;
  color: blue;
  margin-right: 14%;
  font-size: smaller !important;
  text-transform: none !important;
} 




/* ACCORDION CSS */




.couponInfoHeading{
  align-items: left;
  width: 90%;
}
.couponInfoHeading p{
  color: #4c3e3e;
}
.completeCouponInfo{
  background-color:white;
  width: 96.5% !important;
  border-top: 1px solid rgb(224 223 223);
  padding-left: 15px;
}
.completeCouponInfoBoxes{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: left;
}
.couponInfoBoxes{
  flex-direction: column;
  width: 84%;
  height: 55%;
  padding: 6%;
  border: 0.2px solid rgb(224 223 223);
  padding: -20px -20px;
}
.couponInfoBoxes:hover{
  border: 0.2px solid rgb(152, 149, 149);
  cursor: pointer;
}
.couponInfoBoxes p{
  color: grey;
  font-size: smaller;
}
.couponInfoBoxes h3{
  font-size: 0.9rem;
  color: #000000cc;
  font-weight: 500 !important;
}
.discount{
  font-weight:bolder !important;
}
.editButton{
opacity:0 !important;
background: none !important;
color: blue !important;
}
.couponInfoBoxes:hover .editButton{
 opacity: 1 !important;
}
.numberAndButton{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-top: -10% !important;
}
.makeFirstHeadCenter{
  text-align: center;
}
.popUpDiscount{
  border: 2px dashed rgb(251, 207, 103) !important;
  background-color: #ffffe2;
  text-align: center !important;
  padding: 8px 0;
  letter-spacing: 2px;
}
.overallUseageLimit{
  margin-bottom: 0px;
  margin-top: 50px;
  font-weight: 500;
}
.lastParaGreyColor{
  color: rgb(195, 186, 186);
}
.makingThisButtonBlue{
  background-color: #4598f9 !important;
  color: #fff !important;
  text-transform: none !important;
}
.MuiDialog-backdrop{
  background-color:red !important;
}
