.mainBox{
 display: block;
 margin: auto;
 width:96%;
 margin-top:2.5%;
 margin-left: 2%;
 justify-content: center;
}
.HeaderBox{
  display: flex;
  flex-direction: row;
  /* margin-left: -2%; */
  background-color: #fff;
  width: 82.5vw;
  position: fixed;
  z-index: 11111111111;
  padding: 7px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.header {
  grid-area: header;
  /* height: 76px; */
  display: flex;
  align-items: center;
  width: 98%;
  justify-content: right;
  padding: 7px 12px 7px 0px;
  background-color: #f4f9fd;
  /* margin-left: 1%; */
}

.subHeaderMycourses{
  display: flex;
  flex-direction: row;
  width: 76vw;
  padding: 1%;
  padding-bottom: 0;
  margin-top: 1%;
  
  /* margin-left: px; */
  box-shadow: 1px 1px 2px 0.5px #ededed;
  background-color: #ffffff;
}
.HeaderLeft{
  width:60%;
  margin-top: 5px;
  margin-left: 3%;
}
.subHeader{
  font-size: 0.85em !important;
  color: #7c7a7a;
  font-weight: bold !important;
}
.selectDesign{
  background-color: #fff;
  text-align: center;
  /* border-radius: 15% !important; */
  margin-top: -3px;
  margin-right: -12%;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  padding: 1px 10px !important;
  padding-top: 6px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  min-height: 42px;
}

.logoDesign{
  font-size: 2.4rem !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 16%;
    margin-top: 8%;
    font-weight: 300 !important;
}
.logoCircle{
  width: 54px;
  height: 47px;
  border-radius: 50%;
  border:1px solid #18568f;
  color:  #18568f;
  background-color: #d8ecffce ;
  cursor: pointer;
}
.addIcon{
  font-size: 2.8rem !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 11%;
    margin-top: 8%;
    
    font-weight: 300 !important;
}
.addCircle{
  width: 58px;
  height: 52px;
  border-radius: 50%;
  border:2px solid #dbfef9;
  color:  #004e42;
  background-color: #c9fef6 ;
  opacity:0.9;
  margin-right: 3%;
}
.addCircle:hover{
  background-color: #9af1e4 ;
  cursor: pointer;
}
.headerText{
  font-size: 1.4em !important;
  font-weight: 550 !important;
  font-family: Arial, Helvetica, sans-serif  !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
}
.logoText{
  margin-top: 23% !important;
  font-size: 0.9em !important;
  font-weight: bold !important;

}
.labelDesign{
  color: #000 !important;
  font-size: 1.25em !important;
  font-weight: bold;
  text-align: left !important;
  margin-left: 11%;
}
/* my course */

.courseCard{
  background-color: #b22626;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0.5px #ededed;
  background-color: #ffffff;
  width: 93% !important;
  padding: 7px;
  cursor: pointer;
}
.courseCard:hover{
  background-color: #eee ;
  cursor: pointer;
}
.rightCard{
  margin-left: 3%;
  width:100%;
  margin-top: 3%;
}
.courseHeader{
  font-size: 1.2rem !important;
  font-family: sans-serif !important;
  color: #18568f !important;
}
.duration{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between !important; */
  text-align: center;
}
.clock{
  font-size: 1.1rem !important;
  color: #199884;
  margin-right: 1%;
  text-align: center;
  align-items: center;
  margin-top: 3px;
}

.price{
  text-decoration: line-through;
}
.durationText{
  margin-left: 2% !important;
  font-size: 0.8rem !important;
  margin-top: 2px !important;
  color: #928b8b;
}
.discountPercentage-multiValidity{
  background-color: lightcyan !important;
  color: #199884 !important;
  padding: 0px !important;
    width: 100%;
    margin-top: 32px;
    margin-left: 26px;
}
.discountPercentage-singleValidity{
  background-color: lightcyan !important;
  color: #199884 !important;
  padding: 0px !important;
    width: 100%;
    margin-top: 12px;
    margin-left: 26px;
}
.priceAndOfferprice{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
    margin-top: 8%;
}
.priceAndOfferprice-singleValidity{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
    margin-top: 20%;
}
.wrap-text-50 {
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 19ch;
  color: #918d8d;
  font-size: 0.9rem !important;
}
.multiplevalidityAvailBox{
  color: #0f7af5 !important;
  background-color: #e5f1f5 !important;
  font-size: 0.8rem !important;
    width: 90% !important;
    /* padding-left: 4px; */
    border-radius: 5px;
    padding: 6px 6px;
}
.multiplevalidityBox{
  color: grey;
  font-size: 0.8rem !important;
    width: 90% !important;
    /* padding-left: 4px; */
    border-radius: 5px;
    padding: 6px 6px;
}
.lastCard{
  width:20%;
}
.flag{
 
 
  background-color: #199884;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 0px;
  width: 6%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right:0;
  opacity: 0.8;
  justify-content: center;
  height: 15vh;
  margin-right: 1%;
}
.vertical{
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform:rotate(90deg);
  transform: rotate(0deg);
  white-space:nowrap;
  display:block;
  bottom:0;
  width:20px;
  height: 15vh;
  text-align: center;
}
.JustfiSB{
  justify-content: space-between;
}
.Xicon{
  border-radius: 5px;
  color: grey;
  background-color: #f4f9fd;
}
.BasicInfoBox{
  background-color: #f4f9fd;
  border-radius: 5px;
}

.BasicInfo{
  margin-top: 18px;
  color: grey;
}
.InfoTextLeft{
  margin-left: 15% !important;
}
.InfoTextRight{
  margin-left: 8% !important;
}
.infoicon{
  width: 30% !important;
}
.margin20{
  margin: 20px;
}
.width80{
  width: 70%;
}
.TickIcon{
  height: 2vh !important;
  width: 5% !important;
  margin-left: 3%;
  background-color: #0ff55c;
  border-radius: 50%;
  color:white;
}
.WarningIcon{
  color: yellow;
  margin-left: 2% !important;
}

/* Create courses Css */
.createBoxHeader{
  padding-top: 2%;
}
.courseMainTrack{
  background-color: #fff !important;
  border-radius: 15px;
  width:100% !important;
  display: flex;
  
  margin-top: 2%;
  flex-direction: column;
}
.trackerBox{
  justify-content: left;
  align-items: start;
  float: inline-start;
  text-align: left;
  border-bottom: 2px solid #818181;

}
.trackerStepText{
 text-align: left;
 font-weight: bold !important;
}
.trackerMainBox{
  width:100%;
  
  margin-left: -3%;
  padding-bottom: 10px;

}
.trackerStep{
  width:60%;
}

.formMain{
  padding: 3%;
  width:50%;
  
}
/* .FlexRow{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
} */
.RightTick{
  color: white;
  background-color: #0ff55c;
  border: #0ff55c !important;
  border-radius: 100%;
}
.FlexRow{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  margin-top: -7px;
}
.RightTick{
  color: white;
  background-color: #0ff55c;
  border: #0ff55c !important;
  border-radius: 100%;
}
.PaddingOnly{
  padding: 14px 10px !important;
}
.textField{
  /* padding: 14px 10px !important; */
   font-size: 0.9rem !important;
   color:#202020 !important;
}
/* .MuiOutlinedInput-root{
  border-radius: 15px !important;
} */
.DescBoxShadow{
  font-size: 0.7rem !important;
  margin-top: 3% !important;
}
.mt2{
  margin-top: 3% !important;
}
.BoxShadowCourses{
  border-radius: 80px !important;
  font-size: 0.7rem !important;
  margin-top: 3% !important;
}
/* .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{ */
.fieldSizeYears{
  padding: 7.5px 14px !important;
}
.thumbnailUpload{
  margin-top: 3%;
}
.iconThumbicon{
  color:#0f7af5 !important;
  font-size: 1.8em !important;
}
.iconThumb{
  color:#0f7af5 !important;
  text-transform: none !important;
  font-size: 0.9em !important;
}
.fontRecommend{
  font-size: 0.76em !important;
  color: #918e8e;
}
.divider{
  background-color: #000;
  margin-top: 4%;
   padding: 0.5px;
}
.categorytext{
  font-size: 0.9em !important;
  font-weight: 500;
  color: #8e8888 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
}
.coursesButton{
  margin-top: 5% !important;
  width: 156px !important;
  background-color:#0f7af5 !important;
  text-transform: none !important;
  color: white !important;
}
.categoryBox{
  display: flex;
  flex-direction: row;
}
.categorySelect{
  margin-left: 0% !important;
  margin-top: 4%
}
.Editcategory{
  margin-left: -2%;
}
.rightCat{
  margin-left: 8%;
}
.rightEditPrice{
  margin-left: 2%;
}
.editFirstBox{
  display: flex;
  flex-direction: row;
}
.editFirstText{
  margin-left: 1% !important;
}
.marginscndBox{
  margin-left: 10%;
}
.marginscndBoxYears{
  margin-top: -2%;
  margin-left: 8%;
  /* padding: 0px -24px; */
}
/* .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 15.5px 14px !important;
} */








@media screen and (max-width: 580px)  {
  .subHeader{
    font-size: 0.8em !important;
    flex-wrap: wrap;
  }
  .headerText{
    font-size: 1.3em !important;
  }
  .HeaderLeft{
    margin-left: 2%;
    margin-top: 2% !important;
    width:35% !important;
  }
  .HeaderRight{
    width:65%;
  }
  .categoryBox{
    display: flex;
    flex-direction: column;
  }
  .rightCat{
    margin-left: 0%;
  }
  
}
@media screen and (max-width:992px)  {
  .formMain{
    width:90%;
  }
  
  
}
@media screen and (max-width: 480px)  {
  .subHeader{
    font-size: 0.55em !important;
  }
 
  .headerText{
    font-size: 1em !important;
  }
  .HeaderLeft{
    margin-left: 2%;
    margin-top: 2% !important;
  }
  .HeaderRight{
    display: block;
  }
  .selectDesign{
    width: 225px;
    height: 50px;
  }
  .categoryBox{
    display: flex;
    flex-direction: column;
  }
  .rightCat{
    margin-left: 0%;
  }
}
@media screen and (max-width: 280px) {
  .selectDesign{
    width: 184px;
  }
}
/* Upcoming Courses CSS */
.formMainUpcoming{
  padding: 3%;
  width:90%;
}
.BoxShadowUpcoming{
  border-radius: 80px !important;
  font-size: 0.7rem !important;
  margin-top: 1% !important;

}
.divider-upcoming{
  background-color: #000;
  margin-top: 4%;
  padding: 0.5px;
  width: 50%;
}
.checkboxDesign .MuiTypography-root{
  font-size: 0.85em !important;
  font-weight: 600 !important;
}
.checkbox-icon{
  font-weight: 300 !important;
}
.configurationDialog .MuiDialog-paper{
   min-width: 40vw!important;
    height:auto !important;
}
.addCatHeading{
  margin-top: 2% !important;
  margin-left: 1px !important;
}
.addCatHeadingCat{
  margin-top: 3% !important;
  margin-left: 3px !important;
}
.confiDivider .MuiDialogContent-root{
  padding: 20px 1px !important;
  /* width: 95% !important; */
  margin-bottom: -20px;
}
.addCatTextField{
  margin-top: 3% !important;
  margin-bottom: 4% !important;
}
.addCatTextFieldCat{
  margin-top: 3% !important;
  width: 100% !important;
  margin-bottom: 4% !important;
}
.closeHover{
  margin-top: 0.8%;
}
.closeHover:hover{
  cursor: pointer;
}

.accoridanBtn{
  position:absolute;
  margin-right: 25px;
  right: 0;
  margin-top: -9% !important;
}
.MuiStack-root{
  margin-left: 0px !important;
}
.MuiAccordionSummary-content{
  min-width: 42% !important;
}
.MuiAccordionSummary-expandIconWrapper{
  min-width: 0% !important;
}

.editPriceDeleteBtn{
  margin-right: 12px !important;
  text-transform: none !important;
  border: 0.5px solid red !important;
  padding: 0px 13px !important;
}
.editPriceEditBtn{
  margin-right: 7px !important;
  text-transform: none !important;
  border: 0.5px solid #1976d2 !important;
  padding: 4px 20px !important
}



/* ADD CONTENT DRAWER CSS  */

.folderDrawer{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom: 1px seashell grey;
}
.HeaderBox{
  margin: 4% !important;
}
.FolderNameBox{
  margin: 8% 4% !important;
}
.FolderNameBox h4{
  margin-bottom: 2%;
}
.enterFolderNameField{
  border-radius: 9% !important;
  padding: -20px -2px !important;
}
.folderDrawerSaveBtn{
  background-color: #43c5f0  !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  /* position: relative;
  left: 82%;
  top: 18px; */
  text-transform: none !important;
  font-size: 1.2rem !important ;
  padding: 2px 31px !important;
  /* font-weight: 600 !important; */

}

.UploadBtnBox{
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 3%;
    margin-right: 3%;;
}

/* VIDEO DRAWER CSS  */
.dividingVdoSections{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.middleSectionVdo{
  margin: 2px 29px !important;
}
.addDiscriptionuploading{
  margin-left: -6px;
}
.vdoAddDescription{
  color: #0f7af5;
  position: relative;
  bottom: -7px;
  cursor: pointer;
}



.uploadZeroPerc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lastButtons{
  position: relative !important;
  top: 21px !important;
  justify-content: space-between !important;
}
.videoDrawerAdvSettBtn{
  border: 0.4px solid #0f7af5 !important;
  border-radius: 15px !important;
  color: #0f7af5 !important;
  background-color: #ffffff !important;
  text-transform: none !important;
}
.videoDrawerDoneBtn{
  background-color: #0f7af5 !important;
  color: #ffffff !important;
  border-radius: 15px !important;
  text-transform: none !important;
  position: relative;
  left: 67%;
}

/* ONLINE TEST CSS  */
.selectTestCompleteBox{
  border: 1px solid grey !important;
  border-radius: 13px !important;
  width: 92%;
    position: relative;
    left: 19px;
    top: -29px;
    /* box-shadow: 1px 1px 1px 1px #d3d3d3 !important; */

}
.selectTestsOptions{
  display: flex;
  flex-direction: row;
}

.realExamTestOne{
  background-color: #eeeef4;
  color: #be69be;
  padding: 5px 7px;
  height: 15px;
  font-size: 0.9rem;
  border-radius: 6px;
  position: relative;
  bottom: -11px;
  left: 12px;
}
.realExamTestTwo{
  background-color: #eeeef4;
  color: #be69be;
  padding: 5px 7px;
  height: 15px;
  font-size: 0.9rem;
  border-radius: 6px;
  position: relative;
  bottom: -11px;
  left: 12px;
}
.OTDrawerAddTestBtn {
  background-color: #43c5f0 !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  position: relative;
  left: 73%;
  top: 11px;
  text-transform: none !important;
  padding: 4px 14px !important;
  font-size: 1.2rem !important;
}
.stylingAutofield{
  border-radius: 21px !important;
}

.OTLastCheckbox{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

/* SUBJECTIVE TEST CSS  */
/* .fixingSubjTestWidth{ */
  /* width: 39%; */
/* } */
.addSubjUploadBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  border-radius: 15px;
  background-color: #ebf1f3;
  color:#818181;
  position: relative;
  top: 28px;
  left: 34px;
  width: 83%;
  padding: 1px 24px;
}
.createNewTestBtn{
  background-color: #0f7af5 !important;
  color: #ffffff !important;
  text-transform: none !important;
  border-radius: 15px !important;
  height: 17%;
  width: 43%;
  position: relative;
  top: 14px;
}
.A-searchImageSection{
  height: 42% !important;
  width: 100% !important;
  text-align: center !important;
  position: relative;
  top: 50px;
}
.subjBoldPara{
  /* position: relative; */
  /* top: 41px; */
  /* left: -1px; */
  margin-top: 56px;
  margin-left: 35px;
  margin-bottom: -42px;
}

.folderDrawerSubjTest {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  height: 100%;
  width: 95%;
  border-bottom: 1px seashell grey;
}
.subjTestBox{
  margin: 4% 3% !important;
}
.subjTestBox h4{
  margin-bottom: 2%;
}
.subjTestAttachFiles{
  background-color: #e2ecf0 !important;
    color: #0f7af5 !important;
    border-radius: 15px !important;
    padding: 11px 39px;
    position: relative;
    left: -1px;
    width: 18%;
}

/* .stylingAutofieldSubjTest{
  border-radius: 21px !important;
} */
.subjTestAddTestBtn {
  background-color: #43c5f0  !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  text-transform: none !important;
  /* padding: -2px 0px !important; */
  margin-left: 80% !important;
  margin-top: 14px !important;
  padding: 7px 24px !important;
}
.demoClasssss{
  display: flex;
  justify-content: right;
  margin: 9px;
}
.wholeBOxxx{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 2px;
}
.subjTestFolderDrawer {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  height: 100%;
  width: 89%;
  padding-left: 16px;
  /* padding-left: -3px; */
  border-bottom: 1px seashell grey;
}
.addImgPara{
  display: flex;
    flex-direction: row;
    width: 87%;
    position: relative;
    top: -27px;
    left: 17px;
    color: grey;
}
.yellowBoxDiscription{
  background-color: #f4f4b7 !important;
  width: 77%;
  position: relative;
  top: -27px;
  left: 20px;
  padding: 18px 26px;
  border-radius: 15px;
}
.createnAddtestbtn{
  background-color: #43c5f0  !important;
  color: #ffffff !important;
  border-radius: 12px !important;
  /* position: relative; */
  /* left: 89%; */
  /* top: 18px; */
  text-transform: none !important;
  padding: -2px 0px !important;
  margin-left: 75% !important;
  margin-top: 5px !important;
}