.MainBox {
  height: 100vh;
  display: flex !important;
  margin: auto !important;
  align-items: center;
  justify-content: center;
}
.loginBox {
  box-shadow: 1px 1px 4px 2px #ecebeb !important;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.Leftcomponent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: #F8F8F8;
  border-right: solid 1px;
}
.Leftimg {
  height: 13vh;
}
.RightBox{
    background-color: white;
width: 50%;
}
.BoxWidth{
    margin: 10%;
    margin-top: 15% !important;
    margin-top: 25% !important;
  }
  .loginText{
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }
  .EmailText{
    color: grey;
    margin-bottom: -2% !important;
  }
  .BoxShadowLogin{
    text-align: center !important;
    border-radius: 10px !important;
    font-size: 0.7rem !important;
    margin-top: 3% !important;
    min-width: 100% !important;
  }
  .indiaImg{
    width: 25px; 
    height: 25px;
}
.phoneTextFieldStartIcon{
  display: flex;
  flex-direction: row;
}
.phoneTextField{
  margin-top: 6% !important;
}
.indiaBox{
  width:60px;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  padding: 3%;
  
  border-right: 1px solid #000;
}
.startText{
  margin-left: 7%;
  font-size: 1em !important;
  font-weight: bold !important;
  color:#000 !important
}

.LoginBtn{
    width: 60% !important;
    height: 7vh !important;
    margin-top: 1% !important;
    margin-left: 20% !important;
    background-color: #18568f !important;
    border-radius: 8px  !important;
    text-transform: none !important;
    font-size: 1.2rem !important;
}
.OTPMainBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.OTPBox{
  padding: 0px 5px !important;
    border-color: #000 !important;
    color: #000 !important;
    width: 10%;
    margin-top: 2% !important;
    border-radius: 0 !important;
}
.ResendButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left !important;
  margin-top: 2% !important;
}
.boxOtpWidth{
  /* padding: 0 0 !important; */
  border-color:#000 !important;
  border-radius: 0 !important;
  text-align: center;
  font-size: 1.3rem !important;
}
.LoginBtnBox{
  display: flex;
  flex-direction: column;
}
.ResendBtn{
  background-color: white !important;
  box-shadow: none !important;
  color: red !important;
  text-align: left !important;
  margin-left: 1% !important;
}