.Add-main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    margin: 28px 0px;
  }
  .cardImage{
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
    height: 27vh;
    width: 100%;
  }
 
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding-bottom: 0;
    width: 90%;
    box-shadow: 2px 2px 2px 0.5px #ededed;
  }
  .AddCourses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .FolderImg{
    width: 50% !important;
  }
  .AddBtn{
    font-size: 1rem;
    border-radius: 15px !important;
  }
  .CardData{
    margin-left: 12px;
    text-align: left;
    cursor: pointer;
    margin-top: 18px;
  }
  .Namep{
        /* margin-top: -10px; */
        color: grey;
        font-size: 0.9rem;
  }
  .Yearp{ 
    margin-top: -8px ;
    padding: 0px;
    text-align: center;
    font-size: 0.rem;
    width: 30%;
    color: #00BFFF;
    background-color: rgb(205 237 237 / 72%);
    border-radius: 5px;
    margin-bottom: 33px;
  }

  @media screen and (max-width: 1280px) {
    .cardImage{
       height: auto;
     }
    
  }
  @media screen and (max-width: 962px) {
    .Add-main-cards {
        grid-template-columns: 1fr 1fr;
      }
  }
  @media screen and (max-width: 562px) {
    .Add-main-cards {
        grid-template-columns: 1fr;
      }
  }
  
  .Pricep{
    margin-top: 5% !important;
  }