.popUpSubHeader {
    background-color: #ebf5fa;
}

.popUpSubHeaderText {
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

.popUpRadioBtn {
    padding-top: 5px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    margin: 10px;
    margin-left: '40px';
    align-items: center,
}

.popUpDoneBtn {
    padding: 30px;
    /* width: 100px; */
}
.CoursePopupMainBox{
    height: 40vh;
    overflow-y: scroll;
}
.CoursePopupBox{
    margin-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #eee;
}
.radioText {
    margin-left: 15px;
    height: 45vh;
    overflow-y: scroll;
}

.popUpheader {
    border-bottom: solid gray 2px;
}

.innerRdioText {
    margin-top: 800px;

}