.PopularCourseBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 1%;
}
.PopularCardBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px;
  border-radius: 13px;
  box-shadow: 2px 3px 14px 3px #d3d3d3 !important;
  width: 90%;
}
.Cardimgs {
  width: 357px !important;
  height: 225px !important;
}
.Para1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31.47px;
  text-align: left;   
}
.Para2 {
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.deleteContent {
  color: red;
  position: relative;
  margin-top: 4%;
}
.deleteContent:hover{
  cursor: pointer;
}